$user-gray: #646464;
$user-light-gray: #f8f8f8fc;

.users {
  &-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.each-user {
  &-box {
    width: 300px;
    height: auto;
    margin: 15px 15px;
    border: 1.6px solid lightgray;
  }

  &-profile {
    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f8f8f8fc;
    }

    &-img {
      width: 180px;
      height: auto;
      object-fit: contain;
    }
  }

  &-main-data {
    padding: 0px 20px;
  }

  &-symbol {
    width: 20px;
    height: auto;
  }

  &-detail {
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px;
    color: $user-gray;
    &-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;
    }
  }
  &-option {
    background-color: #f8f8f8fc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1.6px solid lightgray;

    &-button {
      width: 30%;
    }

    &-vertical-line {
      border-left: 1.6px solid lightgray;
      height: 18px;
    }
  }
}

.modal {
  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.671);
  }

  &-content {
    width: 600px;
    background-color: white;
    height: min-content;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    border-bottom: 0.5px solid lightgray;
  }

  &-close {
    width: 16px;
    height: auto;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;

    &-option {
      display: flex;
      align-items: center;
      padding: 20px;
    }

    &-submit {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      border-top: 0.5px solid lightgray;
      padding: 10px 0px;
      margin-top: 30px;
    }

    &-button {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 5px;
    }

    &-warning {
      color: red;
    }

    &-input {
      margin: 0px 10px;
      width: 350px;
    }
  }

  &-cancel {
    color: $user-gray;
    border: 0.5px solid lightgray;
    margin: 0px 10px;
  }

  &-ok {
    color: white;
    background-color: rgb(1, 176, 235);
    margin-right: 20px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h3 {
  padding-left: 10px;
  color: #3a3a3a;
}

button {
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .modal {
    &-content {
      width: 95vw;
    }

    &-form {
      width: 100%;

      &-option {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      &-input {
        margin: 0px 0px;
        width: 80vw;
      }
    }
  }

  label {
    width: 80vw;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .modal {
    &-content {
      width: 90vw;
      height: 100vh;
      overflow: scroll;
    }
  }
}

//Loading
.loading-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $user-light-gray;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
